In [227]:
import os
import pandas as pd
from pathlib import Path
import openpyxl
import tabula

In [228]:
download_path = "./Download"
export_path = "./New_way_CSV"
merged_csv_path = f"{export_path}/merged_dataset_2.csv"

file_path = (f"{download_path}/2017_1.xlsx")
df = pd.read_excel(file_path, engine='openpyxl')
df.tail()

,Počty podnikatelů dle občanství podnikajících v České republice,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
161,Jemen,887,YE,YEM,10,1,0,2,0,3,1,0,0,1,3,1,1,0,23
162,Srbsko a Černá Hora,891,CS,SCG,259,54,16,15,10,24,11,5,1,2,21,8,15,7,448
163,Zambie,894,ZM,ZMB,1,2,0,0,0,0,0,0,0,0,0,0,0,0,3
164,Součet,SUM1,NaN,NaN,328403,257904,123176,108217,55388,131755,91623,106193,90211,85226,218492,106506,187649,108161,1998904
165,Z toho cizinci,SUM2,NaN,NaN,31712,9528,2852,5507,4934,7874,2598,2546,2160,1532,7097,2118,4124,1814,86396

In [229]:
df = df[3:]
df.head()

,Počty podnikatelů dle občanství podnikajících v České republice,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18
3,Občanství,Kód,Kód zn.,Kód zn.,Hlavní město Praha,Středočeský kraj,Jihočeský kraj,Plzeňský kraj,Karlovarský kraj,Ústecký kraj,Liberecký kraj,Královéhradecký kraj,Pardubický kraj,Kraj Vysočina,Jihomoravský kraj,Olomoucký kraj,Moravskoslezský kraj,Zlínský kraj,Součet
4,Afghánistán,004,AF,AFG,16,7,0,0,1,6,2,0,0,1,13,4,2,0,52
5,Albánie,008,AL,ALB,13,8,4,1,1,3,1,2,1,1,2,1,1,4,43
6,Alžírsko,012,DZ,DZA,94,22,3,0,1,7,2,1,1,1,9,2,2,0,145
7,Angola,024,AO,AGO,9,2,2,0,0,3,2,1,1,0,6,3,2,2,33

In [263]:
# Automatizace převodu celé složky .XLSX na správné .CSV
# Otevře, převede na .csv, odebere 4 první řádky, 
# resetuje index, uloží jako .csv


processed = 0
all_dataframes = []
all_sums = []

# Roztřídit soubory v ascending order
folder_path = Path(download_path)
sorted_files = sorted(folder_path.iterdir(), key=lambda x: x.name)

# Prochází všechny soubory ve složce
for i, file in enumerate(sorted_files, start=1):  # Adding index i, start from 1
    if file.is_file() and not file.name.startswith('.'):  # Kontrola, zda jde o soubor
        
        # Definice nových názvů
        file_path = f"{download_path}/{file.name}"  # Proměnná filepath
        newname = file.name.replace(".xlsx", "")  # Odstranění .xlsx ze starého názvu
        csv_path = f"{export_path}/{newname}.csv"  # Nový název pro uložení
        summed_path = f"{export_path}/{newname}_{i}.csv"  # Using i as iteration number
        
        # Otevře excel v pandasu
        df = pd.read_excel(file_path, engine='openpyxl')  # Načíst excel jako pandas df




        # Otevře excel v pandasu
        df = pd.read_excel(file_path, engine='openpyxl')  # Načíst excel jako pandas df

        # Stav
        processed += 1
        print(f"{processed} Soubor {csv_path} úspěšně převeden", end=" ")

        # Definice proměnných q a rok
        q = newname[-1]
        rok = newname[-6:-2]

        # Přidání suffixu do názvu sloupců
        for i, col in enumerate(df.columns):
            if i >= 3:  # Začíná na 4. sloupci
                df.rename(columns={col: f"{col} {rok} Q{q}"}, inplace=True)

        # Zahodíme 6 zbytečných řádků, poslední sloupec + resetujeme index
        df = df[3:].reset_index(drop=True) # Odstraní první 4 řádky
        sumcolumn = df.iloc[:,:-1]  #----> Uloží poslední sloupec pro účely dalšího bloku
        df = df.iloc[:,:-1]  # Odstraní poslední sloupec
        df = df[:-2]  # Odstraní poslední 2 řádky
        df.columns = df.iloc[0]  # Nastaví 5. řádek (který je teď první po odstranění) jako názvy sloupců
        df = df[1:]  # Odstraní řádek použitý jako názvy sloupců
        df = df.set_index("Občanství")  # Nastaví sloupec "Občanství" jako index
        df = df.sort_values(by=df.columns[0], ascending=True)  # Utřídí názvy řad abecedně

        # Přidat do listů
        all_dataframes.append(df)  # Přidat právě zpracovaný df do all_dataframes
        all_sums.append(sumcolumn)  # Přidat poslední sloupec do tohoto hovna

        # Uloží jako CSV
        sumcolumn.to_csv(summed_path, index=True)
        df.to_csv(csv_path, index=True)
        shape = df.shape
        print(f"+ uložen + přidán df do listu. Shape: {shape}", end="\n")


print(f"Ve složce je {processed} souborů.")

# Část s mergem v další buňce

1 Soubor ./New_way_CSV/2016_4.csv úspěšně převeden + uložen + přidán df do listu. Shape: (161, 17)
2 Soubor ./New_way_CSV/2017_1.csv úspěšně převeden + uložen + přidán df do listu. Shape: (160, 17)
3 Soubor ./New_way_CSV/2017_2.csv úspěšně převeden + uložen + přidán df do listu. Shape: (161, 17)
4 Soubor ./New_way_CSV/2017_3.csv úspěšně převeden + uložen + přidán df do listu. Shape: (162, 17)
5 Soubor ./New_way_CSV/2017_4.csv úspěšně převeden + uložen + přidán df do listu. Shape: (161, 17)
6 Soubor ./New_way_CSV/2018_1.csv úspěšně převeden + uložen + přidán df do listu. Shape: (160, 17)
7 Soubor ./New_way_CSV/2018_2.csv úspěšně převeden + uložen + přidán df do listu. Shape: (161, 17)
8 Soubor ./New_way_CSV/2018_3.csv úspěšně převeden + uložen + přidán df do listu. Shape: (160, 17)
9 Soubor ./New_way_CSV/2018_4.csv úspěšně převeden + uložen + přidán df do listu. Shape: (160, 17)
10 Soubor ./New_way_CSV/2019_1.csv úspěšně převeden + uložen + přidán df do listu. Shape: (160, 17)
11 Soubor ./New_way_CSV/2019_2.csv úspěšně převeden + uložen + přidán df do listu. Shape: (161, 17)
12 Soubor ./New_way_CSV/2019_3.csv úspěšně převeden + uložen + přidán df do listu. Shape: (162, 17)
13 Soubor ./New_way_CSV/2020_1.csv úspěšně převeden + uložen + přidán df do listu. Shape: (160, 17)
14 Soubor ./New_way_CSV/2024_1.csv úspěšně převeden + uložen + přidán df do listu. Shape: (252, 17)
15 Soubor ./New_way_CSV/2024_2.csv úspěšně převeden + uložen + přidán df do listu. Shape: (252, 17)
16 Soubor ./New_way_CSV/2024_3.csv úspěšně převeden + uložen + přidán df do listu. Shape: (252, 17)
Ve složce je 16 souborů.

In [264]:
all_sums

[    Počty podnikatelů dle občanství podnikajících v České republice  \
 0                                            Občanství
 1                                          Afghánistán
 2                                              Albánie
 3                                             Alžírsko
 4                                               Angola
 ..                                                 ...
 159                                              Jemen
 160                                Srbsko a Černá Hora
 161                                             Zambie
 162                                             Součet
 163                                     Z toho cizinci

     Unnamed: 1 Unnamed: 2 Unnamed: 3 2016 Q4  Unnamed: 4 2016 Q4  \
 0          Kód    Kód zn.            Kód zn.  Hlavní město Praha
 1          004         AF                AFG                  15
 2          008         AL                ALB                  11
 3          012         DZ                DZA                  97
 4          024         AO                AGO                  10
 ..         ...        ...                ...                 ...
 159        887         YE                YEM                  10
 160        891         CS                SCG                 266
 161        894         ZM                ZMB                   1
 162       SUM1        NaN                NaN              326591
 163       SUM2        NaN                NaN               31095

     Unnamed: 5 2016 Q4 Unnamed: 6 2016 Q4 Unnamed: 7 2016 Q4  \
 0     Středočeský kraj     Jihočeský kraj      Plzeňský kraj
 1                    7                  0                  0
 2                    8                  4                  1
 3                   22                  3                  0
 4                    2                  2                  0
 ..                 ...                ...                ...
 159                  1                  0                  2
 160                 54                 16                 15
 161                  2                  0                  0
 162             257121             123085             108227
 163               9461               2871               5509

     Unnamed: 8 2016 Q4 Unnamed: 9 2016 Q4 Unnamed: 10 2016 Q4  \
 0     Karlovarský kraj       Ústecký kraj      Liberecký kraj
 1                    1                  6                   2
 2                    1                  2                   1
 3                    1                  8                   2
 4                    0                  3                   2
 ..                 ...                ...                 ...
 159                  0                  3                   1
 160                 11                 27                  11
 161                  0                  0                   0
 162              55665             132008               91577
 163               4936               7893                2603

       Unnamed: 11 2016 Q4 Unnamed: 12 2016 Q4 Unnamed: 13 2016 Q4  \
 0    Královéhradecký kraj     Pardubický kraj       Kraj Vysočina
 1                       0                   0                   1
 2                       2                   1                   1
 3                       1                   1                   1
 4                       1                   1                   0
 ..                    ...                 ...                 ...
 159                     0                   0                   1
 160                     5                   1                   2
 161                     0                   0                   0
 162                106187               90191               85147
 163                  2534                2151                1532

     Unnamed: 14 2016 Q4 Unnamed: 15 2016 Q4   Unnamed: 16 2016 Q4  \
 0     Jihomoravský kraj      Olomoucký kraj  Moravskoslezský kraj
 1                    13                   4                     2
 2                     2                   1                     1
 3                     9                   2                     3
 4                     6                   3                     2
 ..                  ...                 ...                   ...
 159                   3                   1                     1
 160                  23                   8                    15
 161                   0                   0                     0
 162              218138              106560                187688
 163                7042                2103                  4090

     Unnamed: 17 2016 Q4
 0          Zlínský kraj
 1                     0
 2                     4
 3                     0
 4                     2
 ..                  ...
 159                   0
 160                   7
 161                   0
 162              108152
 163                1808

 [164 rows x 18 columns],
     Počty podnikatelů dle občanství podnikajících v České republice  \
 0                                            Občanství
 1                                          Afghánistán
 2                                              Albánie
 3                                             Alžírsko
 4                                               Angola
 ..                                                 ...
 158                                              Jemen
 159                                Srbsko a Černá Hora
 160                                             Zambie
 161                                             Součet
 162                                     Z toho cizinci

     Unnamed: 1 Unnamed: 2 Unnamed: 3 2017 Q1  Unnamed: 4 2017 Q1  \
 0          Kód    Kód zn.            Kód zn.  Hlavní město Praha
 1          004         AF                AFG                  16
 2          008         AL                ALB                  13
 3          012         DZ                DZA                  94
 4          024         AO                AGO                   9
 ..         ...        ...                ...                 ...
 158        887         YE                YEM                  10
 159        891         CS                SCG                 259
 160        894         ZM                ZMB                   1
 161       SUM1        NaN                NaN              328403
 162       SUM2        NaN                NaN               31712

     Unnamed: 5 2017 Q1 Unnamed: 6 2017 Q1 Unnamed: 7 2017 Q1  \
 0     Středočeský kraj     Jihočeský kraj      Plzeňský kraj
 1                    7                  0                  0
 2                    8                  4                  1
 3                   22                  3                  0
 4                    2                  2                  0
 ..                 ...                ...                ...
 158                  1                  0                  2
 159                 54                 16                 15
 160                  2                  0                  0
 161             257904             123176             108217
 162               9528               2852               5507

     Unnamed: 8 2017 Q1 Unnamed: 9 2017 Q1 Unnamed: 10 2017 Q1  \
 0     Karlovarský kraj       Ústecký kraj      Liberecký kraj
 1                    1                  6                   2
 2                    1                  3                   1
 3                    1                  7                   2
 4                    0                  3                   2
 ..                 ...                ...                 ...
 158                  0                  3                   1
 159                 10                 24                  11
 160                  0                  0                   0
 161              55388             131755               91623
 162               4934               7874                2598

       Unnamed: 11 2017 Q1 Unnamed: 12 2017 Q1 Unnamed: 13 2017 Q1  \
 0    Královéhradecký kraj     Pardubický kraj       Kraj Vysočina
 1                       0                   0                   1
 2                       2                   1                   1
 3                       1                   1                   1
 4                       1                   1                   0
 ..                    ...                 ...                 ...
 158                     0                   0                   1
 159                     5                   1                   2
 160                     0                   0                   0
 161                106193               90211               85226
 162                  2546                2160                1532

     Unnamed: 14 2017 Q1 Unnamed: 15 2017 Q1   Unnamed: 16 2017 Q1  \
 0     Jihomoravský kraj      Olomoucký kraj  Moravskoslezský kraj
 1                    13                   4                     2
 2                     2                   1                     1
 3                     9                   2                     2
 4                     6                   3                     2
 ..                  ...                 ...                   ...
 158                   3                   1                     1
 159                  21                   8                    15
 160                   0                   0                     0
 161              218492              106506                187649
 162                7097                2118                  4124

     Unnamed: 17 2017 Q1
 0          Zlínský kraj
 1                     0
 2                     4
 3                     0
 4                     2
 ..                  ...
 158                   0
 159                   7
 160                   0
 161              108161
 162                1814

 [163 rows x 18 columns],
     Počty podnikatelů dle občanství podnikajících v České republice  \
 0                                            Občanství
 1                                          Afghánistán
 2                                              Albánie
 3                                             Alžírsko
 4                                               Angola
 ..                                                 ...
 159                                              Jemen
 160                                Srbsko a Černá Hora
 161                                             Zambie
 162                                             Součet
 163                                     Z toho cizinci

     Unnamed: 1 Unnamed: 2 Unnamed: 3 2017 Q2  Unnamed: 4 2017 Q2  \
 0          Kód    Kód zn.            Kód zn.  Hlavní město Praha
 1          004         AF                AFG                  16
 2          008         AL                ALB                  14
 3          012         DZ                DZA                  93
 4          024         AO                AGO                  10
 ..         ...        ...                ...                 ...
 159        887         YE                YEM                  10
 160        891         CS                SCG                 247
 161        894         ZM                ZMB                   1
 162       SUM1        NaN                NaN              330080
 163       SUM2        NaN                NaN               32230

     Unnamed: 5 2017 Q2 Unnamed: 6 2017 Q2 Unnamed: 7 2017 Q2  \
 0     Středočeský kraj     Jihočeský kraj      Plzeňský kraj
 1                    7                  0                  0
 2                    7                  4                  1
 3                   19                  4                  0
 4                    2                  2                  0
 ..                 ...                ...                ...
 159                  1                  0                  2
 160                 55                 16                 15
 161                  2                  0                  0
 162             258674             123402             108338
 163               9579               2851               5536

     Unnamed: 8 2017 Q2 Unnamed: 9 2017 Q2 Unnamed: 10 2017 Q2  \
 0     Karlovarský kraj       Ústecký kraj      Liberecký kraj
 1                    2                  6                   2
 2                    1                  3                   1
 3                    1                  7                   2
 4                    0                  3                   2
 ..                 ...                ...                 ...
 159                  0                  3                   1
 160                 10                 24                  11
 161                  0                  0                   0
 162              55283             131728               91820
 163               4933               7828                2594

       Unnamed: 11 2017 Q2 Unnamed: 12 2017 Q2 Unnamed: 13 2017 Q2  \
 0    Královéhradecký kraj     Pardubický kraj       Kraj Vysočina
 1                       0                   0                   1
 2                       2                   1                   1
 3                       1                   1                   1
 4                       1                   1                   0
 ..                    ...                 ...                 ...
 159                     0                   0                   2
 160                     5                   1                   2
 161                     0                   0                   0
 162                106444               90380               85455
 163                  2559                2165                1523

     Unnamed: 14 2017 Q2 Unnamed: 15 2017 Q2   Unnamed: 16 2017 Q2  \
 0     Jihomoravský kraj      Olomoucký kraj  Moravskoslezský kraj
 1                    12                   4                     2
 2                     2                   1                     1
 3                     8                   3                     2
 4                     6                   3                     2
 ..                  ...                 ...                   ...
 159                   3                   1                     1
 160                  20                   8                    15
 161                   0                   0                     0
 162              218936              106651                187560
 163                7098                2139                  4122

     Unnamed: 17 2017 Q2
 0          Zlínský kraj
 1                     0
 2                     4
 3                     1
 4                     2
 ..                  ...
 159                   0
 160                   7
 161                   0
 162              108289
 163                1818

 [164 rows x 18 columns],
     Počty podnikatelů dle občanství podnikajících v České republice  \
 0                                            Občanství
 1                                          Afghánistán
 2                                              Albánie
 3                                             Alžírsko
 4                                               Angola
 ..                                                 ...
 160                                              Jemen
 161                                Srbsko a Černá Hora
 162                                             Zambie
 163                                             Součet
 164                                     Z toho cizinci

     Unnamed: 1 Unnamed: 2 Unnamed: 3 2017 Q3  Unnamed: 4 2017 Q3  \
 0          Kód    Kód zn.            Kód zn.  Hlavní město Praha
 1          004         AF                AFG                  16
 2          008         AL                ALB                  14
 3          012         DZ                DZA                  92
 4          024         AO                AGO                  10
 ..         ...        ...                ...                 ...
 160        887         YE                YEM                   8
 161        891         CS                SCG                 244
 162        894         ZM                ZMB                   1
 163       SUM1        NaN                NaN              331693
 164       SUM2        NaN                NaN               32299

     Unnamed: 5 2017 Q3 Unnamed: 6 2017 Q3 Unnamed: 7 2017 Q3  \
 0     Středočeský kraj     Jihočeský kraj      Plzeňský kraj
 1                    7                  0                  0
 2                    7                  4                  1
 3                   19                  4                  0
 4                    2                  2                  0
 ..                 ...                ...                ...
 160                  2                  0                  2
 161                 55                 15                 15
 162                  2                  0                  0
 163             259820             123655             108604
 164               9583               2827               5564

     Unnamed: 8 2017 Q3 Unnamed: 9 2017 Q3 Unnamed: 10 2017 Q3  \
 0     Karlovarský kraj       Ústecký kraj      Liberecký kraj
 1                    2                  7                   2
 2                    1                  3                   1
 3                    1                  7                   2
 4                    0                  2                   3
 ..                 ...                ...                 ...
 160                  0                  3                   1
 161                 10                 23                  10
 162                  0                  0                   0
 163              55266             131831               92034
 164               4924               7819                2586

       Unnamed: 11 2017 Q3 Unnamed: 12 2017 Q3 Unnamed: 13 2017 Q3  \
 0    Královéhradecký kraj     Pardubický kraj       Kraj Vysočina
 1                       0                   0                   1
 2                       2                   1                   1
 3                       1                   1                   1
 4                       1                   1                   0
 ..                    ...                 ...                 ...
 160                     0                   1                   2
 161                     5                   1                   2
 162                     0                   0                   0
 163                106715               90656               85722
 164                  2587                2160                1526

     Unnamed: 14 2017 Q3 Unnamed: 15 2017 Q3   Unnamed: 16 2017 Q3  \
 0     Jihomoravský kraj      Olomoucký kraj  Moravskoslezský kraj
 1                    12                   3                     2
 2                     2                   1                     1
 3                     8                   3                     2
 4                     6                   3                     1
 ..                  ...                 ...                   ...
 160                   3                   1                     2
 161                  20                   8                    15
 162                   0                   0                     0
 163              219518              106940                187862
 164                7096                2150                  4127

     Unnamed: 17 2017 Q3
 0          Zlínský kraj
 1                     0
 2                     4
 3                     1
 4                     2
 ..                  ...
 160                   0
 161                   7
 162                   0
 163              108574
 164                1825

 [165 rows x 18 columns],
     Počty podnikatelů dle občanství podnikajících v České republice  \
 0                                            Občanství
 1                                          Afghánistán
 2                                              Albánie

In [187]:
'''
# Zjistíme, kde se děje problém s prázdnými poli v prvních 4 sloupcích
# prohledává už spojený soubor merged_df

nan_rows = merged_df.iloc[:, :4].isna().any(axis=1)
nan_indexes = merged_df[nan_rows].index.tolist()
print("Indexy s prázdným polem v jednom z prvních 4 sloupců:")
print(nan_indexes)
'''

Index s prázdným polem v jednom z prvních 4 sloupců:
['Velká Británie', 'Nizozemsko', 'Makedonie', 'Demokratická republika Kongo', 'Namibie', 'Curacao']

In [252]:
# Merge všech CSV do jednoho
# Vyplnit 0 na místo všech chybějících hodnot
# Ověřit, jestli nějaký řádek nemá všude 0, pokud ano -> smazat


# Loop through the list of DataFrames and merge them progressively
merged_df = all_dataframes[0]  # Start with the first DataFrame

# Merge progressively
for df in all_dataframes[1:]:
    # Merge only the columns that start from the 5th column onwards
    merged_df = merged_df.merge(df.iloc[:, 4:], how="outer", left_index=True, right_index=True)

# Doplnění 0 a převod typů na int
merged_df = merged_df.fillna(0)

# Najít jestli nějaké země mají všude 0
rows_all_zero = merged_df.iloc[:, 4:][merged_df.iloc[:, 4:].eq(0).all(axis=1)]  # Řádky s hodnotou 0 na všech pozicích
rows_to_delete = rows_all_zero.index.tolist()
merged_df.drop(rows_to_delete, inplace=True)  # Smazat řádky s hodnotou 0 všude

if rows_to_delete:
    print("Smazány řádky: ", end="")
    for i in rows_to_delete:
        print(i, end=", ")
else:
    print("Nenalezeny žádné řádky s 0")

# Optional: Save the merged DataFrame to a new CSV file
merged_df.to_csv(merged_csv_path, index=True)
print(f"\nVšechny soubory sloučeny do: {merged_csv_path}", end="\n\n\n")

Smazány řádky: Americká Samoa, Americké Panenské ostrovy, Andorra, Anguilla, Antarktida, Antigua a Barbuda, Aruba, Bahamy, Bahrajn, Barbados, Belize, Bermudy, Bhútán, Bonaire, Svatý Eustach a Saba, Bouvetův ostrov, Britské indickooceánské území, Brunej, Cookovy ostrovy, Curaçao, Dominika, Džibutsko, Eritrea, Faerské ostrovy, Falklandy (Malvíny), Francouzská Polynésie, Francouzská jižní a antarktická území, Gabon, Gibraltar, Grenada, Grónsko, Guadeloupe, Guam, Guinea-Bissau, Guyana, Haiti, Heardův ostrov a MacDonaldovy ostrovy, Jersey, Jižní Georgie a Jižní Sandwichovy ostrovy, Jižní Súdán, Kajmanské ostrovy, Katar, Kiribati, Kokosové (Keelingovy) ostrovy, Komory, Lesotho, Macao, Malawi, Man, Marshallovy ostrovy, Martinik, Mayotte, Menší odlehlé ostrovy USA, Mikronésie, Montserrat, Mosambik, Nauru, Niue, Nizozemské Antily, Norfolk, Nová Kaledonie, Omán, Palau, Papua Nová Guinea, Pitcairn, Portoriko, Rovníková Guinea, Réunion, Saint Pierre a Miquelon, Samoa, San Marino, Severní Mariany, Seychely, Středoafrická republika, Svatá Helena, Svatá Helena, Ascension a Tristan da Cunha, Svatá Lucie, Svatý Bartoloměj, Svatý Kryštof a Nevis, Svatý Martin (FR), Svatý Martin (NL), Svatý Vincenc a Grenadiny, Svazijsko, Tokelau, Trinidad a Tobago, Turks a Caicos, Tuvalu, Vatikán, Vánoční ostrov, Východní Timor, Wallis a Futuna, Západní Sahara, Šalamounovy ostrovy, Šalomounovy ostrovy, Špicberky a Jan Mayen,
Všechny soubory sloučeny do: ./New_way_CSV/merged_dataset_2.csv

/var/folders/dj/72cg9gkd69z_1134dyl3zsqw0000gn/T/ipykernel_2721/3196127731.py:15: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  merged_df = merged_df.fillna(0)

In [207]:
merged_df.shape

(165, 212)

In [208]:
# Sloupec "Součet" na konci souboru
# sečte všechny ostatní číselné sloupce, abychom je mohli seřadit
# efektivní metoda, kdy se nefragmentuje výsledný df

sum_columns = merged_df.iloc[:, 4:].sum(axis=1).astype(int)

# Add the "Součet" column in one operation
merged_df = pd.concat([merged_df, sum_columns.rename("Součet")], axis=1)

# Sort the DataFrame by the "Součet" column in descending order
merged_df = merged_df.sort_values(by="Součet", ascending=False)

# Save to CSV
merged_df.to_csv(merged_csv_path, index=True)

In [209]:
merged_df["Součet"]

Občanství
Česko           25661897
Vietnam           275302
Ukrajina          217936
Slovensko         183716
Německo            42049
                  ...
Kapverdy               2
Fidži                  2
Paraguay               1
Sierra Leone           1
Surinam                1
Name: Součet, Length: 165, dtype: int64

In [216]:
small_indexes_list = merged_df[merged_df["Součet"] <= 10].index.tolist()
print(small_indexes_list)

['Gambie', 'Botswana', 'Salvador', 'Lichtenštejnsko', 'Mauricius', 'Burkina Faso', 'Burundi', 'Monako', 'Mali', 'Curacao', 'Nikaragua', 'Rwanda', 'Tonga', 'Maledivy', 'Francouzská Guyana', 'Kapverdy', 'Fidži', 'Paraguay', 'Sierra Leone', 'Surinam']

In [257]:
merg = pd.read_csv(f"{export_path}/merged_dataset.csv")
merg.shape

(165, 213)

In [273]:
''''
JEDNORÁZOVÉ SPRAVENÍ SOUBORU 2016_2.csv

file_path = 'Down/2016_2.csv'  # Replace with your file path
df = pd.read_csv(file_path, sep=';')

# Save the file with commas as the delimiter
output_path = 'fixed_file.csv'  # Replace with your desired output path
df.to_csv(output_path, index=False, sep=',')
'''

In [ ]:
'''
------------------------------ THE END ---------------------------------
'''